.container {
  text-align: center;
  margin: 0 auto;
  background-color: cadetblue;
  width: 500px;
  border-radius: 5px;
  padding: 20px 0;
};

.input {

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}

.button__submit {
  width: 200px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 3px;
  padding: 5px 0;
}
